$colors: ( 
      CodGray: #1F1E1E,
      MineShaft: #262626,
      Tundora: #434343,
      RawSienna: #D16D4A,
      Grray: #868686,
      Whiite: #FFFFFF,

      BurntSienna: #E76639,
      Boulder: #7c7c7c,
      Alto: #DDDDDD,
      Alabaster: #F8F8F8
);