@import './functions';

$dark: (
  color:            color(RawSienna),
  grayColor:        color(Tundora),
  textDark:         color(Whiite),
  textLight:        color(Grray),
  backgroundDark:   color(CodGray),
  backgroundLight:  color(MineShaft)
);