@import './functions';

$light: (
  color:            color(BurntSienna),
  grayColor:        color(Whiite),
  textDark:         color(CodGray),
  textLight:        color(Boulder),
  backgroundDark:   color(Alabaster),
  backgroundLight:  color(Alto)
);

