@media (max-width: 1400px) {
  header nav .navigation {
    width: 55% !important;
  }
}

@media (max-width: 1300px) {
  main .presentation div .presentation__picture img {
    width: 350px !important;
  }
}

@media (max-width: 1100px) {
  header nav .social {
    min-width: 35% !important;
  }
  header nav .navigation {
    width: 60% !important;
  }
  main .presentation div .presentation__picture img {
    width: 300px !important;
  }
  main .portfolio h2::after {
    display: none;
  }
  .portfolio {
    margin: -2vh auto 8vh !important;
  }
  .portfolio .portfolio__list > * {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
}

@media (max-width: 930px) {
  header nav .social {
    display: none !important;
  }
  header nav .navigation {
    width: 100% !important;
  }
  main .presentation div {
    margin-top: 20vh !important;
    position: relative;
  }
  main .presentation div .presentation__resume {
    width: 100% !important;
  }
  main .presentation div .presentation__resume h2 {
    margin-top: -1vh !important;
    margin-bottom: 2vh !important;
  }
  main .presentation div .presentation__picture {
    position: absolute !important;
    top: 6vh;
    right: 7vw;
  }
  main .presentation div .presentation__picture img {
    height: 30vh !important;
    width: auto !important;
    z-index: -2;
  }
  main .portfolio {
    margin: -6vh auto 8vh !important;
  }
  main .contact {
    margin: 0.1vh auto 3vh !important;
  }
}

@media (max-width: 800px) {
  main .contact p {
    width: 100% !important;
  }
}

@media (max-width: 700px) {
  header nav .navigation {
    font-size: 1.1rem !important;
  }
  main .portfolio {
    margin: -7vh auto 6vh !important;
  }
  main .portfolio .portfolio__list {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  main .portfolio .portfolio__list .portfolio__list__item__title {
    font-size: 1.4rem !important;
  }
  main .portfolio .portfolio__list p {
    font-size: 1.2rem !important;
  }
  main .portfolio .portfolio__list > * {
    margin: 1vh 0 !important;
  }
  main .portfolio .portfolio__list .portfolio__list__item {
    padding: 3.5vh 2.5vw 2vh !important;
  }
}

@media (max-width: 680px) {
  main .presentation div .presentation__resume p {
    margin-bottom: 7vh !important;
  }
  main .presentation div .presentation__resume .presentation__resume__button {
    font-size: 1.5rem !important;
  }
  main .portfolio {
    margin: 2vh auto 6vh !important;
  }
}

@media (max-width: 630px) {
  main .presentation {
    margin: 6vh auto 0 !important;
  }
  main .presentation div {
    margin-top: -5vh !important;
  }
  main .presentation div .presentation__resume h2 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  main .presentation div .presentation__resume h1 {
    padding: 4vh 0 6vh;
  }
  main .presentation div .presentation__resume p {
    margin-bottom: 12vh !important;
  }
  main .presentation div .presentation__picture {
    display: none !important;
  }
  main .contact {
    width: 90% !important;
  }
}

@media (max-width: 400px) {
  header nav .navigation {
    width: 115% !important;
  }
  header nav .navigation .navigation__theme div #moon {
    left: 15% !important;
  }
  header nav .navigation .navigation__theme div #sun {
    left: 16% !important;
  }
  header nav .navigation .navigation__theme .toggleOn .ball {
    left: 15% !important;
  }
  header nav .navigation .navigation__theme .toggleOn #sun {
    left: 16% !important;
  }
  header nav .navigation .navigation__theme .toggleOn #moon {
    cursor: pointer;
    left: 15% !important;
  }
  header nav .navigation .navigation__theme .toggleOff .ball {
    left: 15% !important;
  }
  header nav .navigation .navigation__theme .toggleOff #sun {
    cursor: pointer;
    left: 16% !important;
  }
  header nav .navigation .navigation__theme .toggleOff #moon {
    left: 15% !important;
  }
  header nav .navigation .navigation__theme::after {
    display: none;
  }
  main .presentation div .presentation__resume p {
    margin-bottom: 5vh !important;
  }
  main .presentation div .presentation__resume .presentation__resume__button {
    font-size: 1.3rem !important;
  }
}
/*# sourceMappingURL=responsive.css.map */