@import './colors';
@import './fluid-font';
@import './responsive';

html {
    @include generateThemeVariables;
    @include fluid-type($min_width, $max_width, $min_font, $max_font);
    height: 100%;
    scroll-behavior: smooth;
}

body{
    @include theme(color, textDark);
    @include theme(background-color, backgroundDark);
    font-family: calibre, sans-serif;
}

header{

    nav{
        top: 0;
        position: fixed;
        width: 100%;
        height: 10vh;
        @include theme(background-color, backgroundDark);
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 99999;

        .social{
            min-width: 33%;
            display: flex;
            justify-content: space-around;

            a{
                svg{
                    @include theme(fill, textDark);
                    transition-duration: 0.6s;
                    height: 1.8rem;
                }  
                &:hover{
                    svg{
                        @include theme(fill, color);
                        transition-duration: 0.4s;
                    }
                }
            }
        }

        .navigation{
            width: 45%;
            display: flex;
            justify-content: space-around;
            font-family: big-john, sans-serif;
            font-size: 1.1rem;
            font-weight: bold;

            .active{
                @include theme(color, color);

                &::after{
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -0.7rem;
                    @include theme(background-color, color);
                    width: 100%;
                    height: 1.5px;
                    transition-duration: 0.4s;
                }
            }

            li{
                position: relative;
                transition-duration: 0.4s;
                
                &:not(:last-child)::after{
                      content: "";
                      position: absolute;
                      left: 0;
                      bottom: -0.7rem;
                      @include theme(background-color, textDark);
                      width: 0%;
                      height: 1.5px;
                      transition-duration: 0.4s;
                }
                &:not(:last-child):hover{
                      @include theme(color, color);
                      transition-duration: 0.4s;
                      &::after{
                            @include theme(background-color, color);
                            width: 100%;
                            transition-duration: 0.6s;
                      }
                }
            }
            
            .navigation__theme{
                position: relative;

                div{
                    position: relative;
                    width: 70px;

                    .ball{
                        position: absolute;
                        transform: translateY(-14%);
                        @include theme(background-color, textDark);
                        border-radius: 100%;
                        height: 33px;
                        width: 33px;
                        z-index: -2;
                        transition: left 0.6s;
                        animation-timing-function: ease;
                    }
                    .fa-moon, .fa-sun{
                        position: absolute;
                        top: 0;
                        transition: left 0.6s;
                        animation-timing-function: ease;
                    }
                    .fa-moon{
                        left: 0;
                    }
                    .fa-sun{
                        left: 53%;
                    }

                    svg{
                        height: 23px !important;
                        width: 23px !important;
                        @include theme(color, backgroundDark);
                        padding: 0 0.3rem;
                    }
                }
                .toggleOn {
                    .ball{
                        left: 1%;
                    }
                    .fa-sun{
                        left: 0%;
                    }
                    .fa-moon{
                        cursor: pointer;
                        left: 0%;
                    }
                }
                
                .toggleOff {
                    .ball{
                        left: 53%;
                    }
                    .fa-sun{
                        cursor: pointer;
                        left: 53%
                    }
                    .fa-moon{
                        left: 53%
                    }
                }

                &::after{
                    content: "";
                    height: 22px;
                    width: 80%;
                    border-radius: 70px;
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    @include theme(background-color, grayColor);
                    border: 2px solid #1F1E1E;
                    z-index: -3;
                }
            }
        }
    }
}
main{

    h2{
        @include theme(color, color);
        font-size: 1.35rem;
    }

    .presentation{
        padding: 17.5vh 0;
        margin: 0 auto;
        width: 70%;
        font-size: 1.2rem;
        min-height: 78vh;

        div{
            display: flex;
        }
        .presentation__resume{
            padding-top: 6vh;
            width: 55%;
            
            h2{
                font-size: 6.5rem;
            }
            h1{
                padding: 2vh 0 4vh;
                font-size: 2.5rem;
                line-height: 1.20;
                font-family: big-john, sans-serif;

                span{
                    @include theme(color, textLight);
                }
            }
            p{
                width: 90%;
                letter-spacing: 0.05rem;
                word-spacing: 0.1rem;
                @include theme(color, textLight);
                margin: 1.7vh 0 6vh;
            }
            .presentation__resume__button{
                padding: 0.8rem 1.2rem 0.5rem;
                font-size: 1.05rem;
                @include theme(color, color);
                @include theme(outline, color, 2px solid);
                border-radius: 5px;
                transition-duration: 0.4s;

                &:hover{     
                    color: white;
                    @include theme(background-color, color);
                    outline-offset: 4px;
                    transition-duration: 0.6s;
                }
            }
        }
        .presentation__picture{
            width: 45%;
            position: relative;

            img{
                position: absolute;
                top: 52%;
                left: 50%;
                transform: translate(-50%, -50%);
                height: auto;
                width: 400px;
            }
        }
    }
    .portfolio{
        padding-bottom: 10vh;
        margin: 0 auto 0;
        width: 70%;
        font-size: 1.2rem;

        h2{
            padding-top: 15vh !important;
            position: relative;

        }
        .portfolio__subtitle{
            margin: 2vh 0 6vh;
            font-size: 1.2rem;
            font-family: big-john, sans-serif;
        }
        .portfolio__list{
            display: flex;
            flex-wrap: wrap;
            align-items: stretch;
            
            & > * {
                flex: 1 1 30%;
                margin: 3vh 1.5vh;
            }
            
            .portfolio__list__item{
                height: 100%;
                @include theme(background-color, backgroundLight);
                border-radius: 3px;
                padding: 3.5vh 2.5vh 0.1vh;
                -webkit-box-shadow: inset 0px 0px 15px -12px rgba(0,0,0,0.5), inset 0px 0px 15px -12px rgba(0,0,0,0.5); 
                box-shadow: 0px 0px 15px -12px rgba(0,0,0,0.5), inset 0px 0px 15px -12px rgba(0,0,0,0.5);

                .portfolio__list__item__title{
                    display: flex;
                    align-items: center;
                    @include theme(color, color);
                    font-size: 1.1rem;
                    font-family: big-john, sans-serif;
                }
                p{
                    text-transform: capitalize;
                    margin-top: 3vh;
                    font-size: 0.95rem;
                }
                .portfolio__list__item__footer{
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;

                    .portfolio__list__item__footer__tag{
                        width: 60%;
                        margin-top: 3vh;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        flex-wrap: wrap;
                        font-size: 0.9rem;
                        @include theme(color, textLight);

                        & > * {
                            flex: 1 1 25%;
                            padding: 5px 6px;
                        }
                    }
                    .portfolio__list__item__footer__link{
                        margin-top: 3.5vh;
                        width: 31%;
                        display: flex;
                        align-items: center;

                        a{
                            svg{
                                height: 3.7vh;
                                @include theme(fill, textDark);
                                transition-duration: 0.6s;
                            }

                            &:hover{
                                svg{
                                    @include theme(fill, color);
                                    transition-duration: 0.4s;
                                }
                            }
                        }
                        & > * {
                            padding: 0 4px;
                        }
                    }
                }
            }
        }
    }
    .contact{
        padding: 18vh 0 8vh;
        margin: 0 auto;
        width: 70%;
        text-align: center;

        h2{
            font-size: 0.95rem;
        }
        h3{
            font-size: 2.5rem;
            font-family: big-john, sans-serif;
            padding: 5vh 0 8vh;
        }
        p{
            margin: 0 auto 12vh;
            width: 56%;
            @include theme(color, textLight);
        }
        a{
            padding: 2.5vh 2.7vh 2vh 2.7vh;
            border-radius: 4px;
            @include theme(outline, color, 2px solid);
            @include theme(color, color);
            transition-duration: 0.6s;
            
            &:hover{     
                color: white;
                @include theme(background-color, color);
                outline-offset: 4px;
                transition-duration: 0.4s;
            }
        }
    }
}
footer{
    margin: 14vh auto 0;
    padding-bottom: 7vh;
    width: 40%;
    text-align: center;

    hr{
        position: relative;
        width: 50%;
        margin-bottom: 4vh;
        
        &::after{
            content: "";
            position: absolute;
        }
    }
    a{
        padding: 0 0.3rem;
        position: relative;
        @include theme(color, color);

        &::after{
            content: "";
            position: absolute;
            bottom: -0.5rem;
            left: 0;
            @include theme(background-color, textDark);
            width: 0%;
            height: 1.5px;
            transition-duration: 0.4s;
        }
        &:hover{
            @include theme(color, color);
            transition-duration: 0.4s;
            &::after{
                @include theme(background-color, color);
                width: 100%;
                transition-duration: 0.6s;
            }
        }
    }
}
